{% extends "layout.html" %}
{% block content %}

<div class="wrapper">
    {% if moisture %}
        <P>Current precipitation: {{moisture['precip']}}</P>
        <P>Current humidity: {{moisture['humidity']}}</P>
        <P>Current cloud cover: {{moisture['cloudcover']}}</P>
    {% endif %}

    {% if wind %}
        <P>Current wind speed: {{wind['wind_speed']}}</P>
        <P>Current wind degree: {{wind['wind_degree']}}</P>
        <P>Current wind direction: {{wind['wind_dir']}}</P>
    {% endif %}

    {% if main_weather_params %}
        <P>Current temperature: {{main_weather_params['temperature']}}</P>
        <P>Feels like: {{main_weather_params['feelslike']}}</P>
        <P>Weather description: {{main_weather_params['weather_descriptions']}}</P>
        <P>Current UV index: {{main_weather_params['uv_index']}}</P>
        <P>Current visibility: {{main_weather_params['visibility']}}</P>
    {% endif %}

    {% if weather_descr %}
    <P>Weather description: {{weather_descr['weather_descr']}}</P>
    {% endif %}

    {% if wind_info %}
    <P>Wind speed: {{wind_info['wind_speed']}}</P>
    <P>Wind degree: {{wind_info['wind_degree']}}</P>
    {% endif %}

    {% if main_info %}
    <P>Temperature: {{main_info['temp']}}</P>
    <P>Feels like: {{main_info['feels_like']}}</P>
    <P>Pressure: {{main_info['pressure']}}</P>
    <P>Humidity: {{main_info['humidity']}}</P>
    {% endif %}

    <a class="btn btn-primary" href="/">Return to the main page</a>
    <a class="btn btn-primary" href="/profile">Go to the profile page</a>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/images/1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/images/2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/images/3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>


</div>
{% endblock %}