{% extends "layout.html" %}
{% block content %}
<P>Current wind speed {{wind['wind_speed']}}</P>
<P>Current wind degree {{wind['wind_degree']}}</P>
<P>Current wind direction {{wind['wind_dir']}}</P>
<div class="wrapper">
    <P>Current temperature {{text['current']['temperature']}}</P>
    <P>Current time {{text['current']['observation_time']}}</P>
    <P>Weather description {{text['current']['weather_descriptions'][0]}}</P>
    <P>Current wind speed {{text['current']['wind_speed']}}</P>
    <P>Current wind degree {{text['current']['wind_degree']}}</P>
    <P>Current wind direction {{text['current']['wind_dir']}}</P>
    <P>Current pressure {{text['current']['pressure']}}</P>
    <P>Current precip {{text['current']['precip']}}</P>
    <P>Current humidity {{text['current']['humidity']}}</P>
    <P>Current cloudcover {{text['current']['cloudcover']}}</P>
    <P>Current feelslike {{text['current']['feelslike']}}</P>
    <P>Current UV index {{text['current']['uv_index']}}</P>
    <P>Current visibility {{text['current']['visibility']}}</P>
    <P>Is day {{text['current']['is_day']}}</P>
    <img src="{{text['current']['weather_icons'][0]}}" alt="Problem with loading image">

    <a class="btn btn-primary" href="/">Return to the main page</a>
    <a class="btn btn-primary" href="/profile">Go to the profile page</a>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/images/1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/images/2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/images/3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>


</div>
{% endblock %}